# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# App binary
kubevirt-apiserver-proxy

# Air live-reload temp files
tmp/

# Go workspace file
go.work
